
/*
Colors used:
Primary Color (DarkBlue): #096D94;
Secondary Color (Black): #000000;
Contrast Color (DarkGrey): #A5A5A5;`
Contrast Color (LightGrey): #DDDDDD;
Contrast Color (White): #FFFFFF;
*/


/* Overall Settings */
* {
  box-sizing: border-box;
}


/* Basic Body Settings */
  body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #000000;
}


/* Headline Settings */
h1, h2, h3, h4 {
  line-height: 1.6;
  font-family: 'Bebas+Neue', sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 1.75em;
  font-weight: 700;
}
h2 {
  font-size: 1.55em;
  font-weight: 700;
}
h3 {
  font-size: 1.35em;
  font-weight: 400;
}
h4 {
  font-size: 1.15em;
  font-weight: 400;
}


/* Image Settings */
img {
  width: 100%;
}


/* Link Settings */
a {
  color: #096D94;
}
a:visited {
  color: #096D94;
}
a:hover,
a:focus {
  color: #A5A5A5;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}
a:active {
  color: #096D94;
  opacity: 0.8;
}


/* Button Settings */
.button {
  display: inline-block;
  background-color: #096D94;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #096D94;
  transition: 0.2s opacity;
  text-decoration: none;
}
.button:hover,
.button:active {
  opacity: 0.8;
  transition: 0.2s;
  text-decoration: none;
}
.button:visited {
  color: #FFFFFF;
}
.button.contact {
  background-color: transparent;
  color: #096D94;
  border: 2px solid #096D94;
}


/* Header Settings */
header {
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 7px 7px 21px 0px rgba(50, 50, 69, 0.47);
  position: fixed;
  width: 100%;
  z-index: 44;
}
.logo {
  max-width: 200px;
}


/* Navigation Settings */
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: bold;
  font-weight: 700;
  color: #096D94;
}
nav > ul > li > a:hover,
nav > ul > li > a:active {
  opacity: 0.8;
  transition: 0.2s;
  color: #A5A5A5;
}
nav > ul > li > a:visited {
  color: #096D94;
}


/* Hero Settings */
#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center;
  text-transform: none;
}
#hero p {
  text-align: center;
  font-size: 20px;
  line-height: 2.4;
}
main {
  padding-top: 160px;
  padding-bottom: 60px;
}


/* Body Settings */
.container {
  padding: 0 30px;
}
.row {
  margin: 25px 0;
  content: "";
  clear: both;
  display: table;
}
#work .row {
  padding-bottom: 35px;
  border-bottom: 1px solid #A5A5A5;
}


/* Footer Settings */
#contact svg {
  max-width: 40px;
}
#contact a {
  text-decoration: none;
}
footer {
  background-color: #DDDDDD;
}
.bottomfooter {
  margin-bottom: 0px;
}


/* Responsiveness */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 110px;
  }
  body {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
  float: left;
  }
}
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 1920px) {
}
