
/*
Colors used:
Primary Color (DarkBlue): #096D94;
Secondary Color (Black): #000000;
Contrast Color (DarkGrey): #A5A5A5;`
Contrast Color (LightGrey): #DDDDDD;
Contrast Color (White): #FFFFFF;
*/

body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Bebas+Neue', sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.55em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}
h4 {
  font-size: 1.15em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #096D94;
  text-decoration: underline;
}
a:visited {
  color: #000000;
}
a:hover,
a:focus {
  color: #A5A5A5
  text-decoration: none;
}
a:active {
  color: #096D94;
}
.button {
  display: inline-block;
  background-color: #096D94;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #096D94;
  transition: 0.2s opacity;
  text-decoration: none;
}
.button:hover,
.button:active {
  opacity: 0.8;
  text-decoration: none;
}
.button:visited {
  color: #FFFFFF
}
